body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("dd.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   
  color: #333;
}

#todo-app {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 50px;
  background: linear-gradient(to right, #4682B4, #5F9EA0); /* Adjusted gradient colors */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#todo-form input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

/* Styling for buttons */
button {
  padding: 10px 20px;
  background-color: #5F9EA0;
  color: white;
  border: none;
  border-radius: 50px;
  margin-top: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4682B4;
}

/* Styling for delete button */
button.delete {
  background-color: #f44336;
}

button.delete:hover {
  background-color: #d32f2f;
}

/* Styling for edit button */
button.edit {
  background-color: #ffc107;
}

button.edit:hover {
  background-color: #ffa000;
}
